:root {
  --widget-width: 100%;
  --widget-max-width: 900px;
  --spacing-base: 1rem;
  --color-primary: #004695;
  --color-secondary: #303840;
  --color-background: #F9FBFF;
  --color-border: #D0DDE8;
  --font-size-question-box: 16px;
  --font-size-answer-box: 15px;
  --font-size-sources: 14px;
}

#askunali-widget #askunali-clear-button-image.hidden {
  display: none;
}

#askunali-widget {
  width: var(--widget-width);
  max-width: var(--widget-max-width);
  margin: 0 auto;
  padding: calc(var(--spacing-base) * 2);
  color: var(--color-secondary);
}

#askunali-widget .askunali-question-input-container,
#askunali-widget .askunali-question-output-container {
  position: relative;
  background-color: white;
}

#askunali-widget .askunali-question-input-container {
  border: 1px solid var(--color-border);
  border-radius: 4px;
  cursor: text;
  display: flex;
  align-items: center;

  padding-left: 55px;
  height: 75px;
}

#askunali-widget #askunali-clear-button-container {
  height: 100%;
  width: 75px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

#askunali-widget .askunali-question-output-container {
  padding: var(--spacing-base) calc(var(--spacing-base) * 1.2);
  min-height: calc(1rem * 6);
  margin-top: calc(var(--spacing-base) * 1.5);
  background-color: white;

  border-radius: 4px 4px 0 0;
  border-bottom: none;

  padding-left: 55px;
  padding-top: 0px;

  border: none;
}

#askunali-widget .askunali-question-output-container-bottom {
  background-color: white;

  border: 1px solid var(--color-border);
  border-top: 1px solid #E1EAF1;
  border-top: none;
  border-radius: 0 0 4px 4px;
  position: relative;
  height: auto;

  padding-right: calc(var(--spacing-base) * 1.2);
  padding-left: 55px;
  padding-top: 0px;
  padding-bottom: 0;

  border: none;
}

#askunali-widget #askunali-question-suggestions-container {
  display: flex;
  justify-content: left;
  gap: 15px;
  flex-wrap: wrap;
}

#askunali-widget .askunali-question-suggestion {
  background: #F9FBFF;
  border: 1px solid #D5E1EA;
  height: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  max-width: 80%;
}

#askunali-widget .askunali-question-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  width: 23px;
  height: 23px;
}

#askunali-widget #askunali-question-output-icon {
  position: absolute;
  top: 30px;
  left: 10.5px;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
}

#askunali-widget .askunali-question-input-area {
  width: 100%;
  min-height: calc(1rem * 1.5);
  border: none;
  outline: none;
  resize: none;
  font-size: var(--font-size-question-box);
  line-height: 1.5;
  color: inherit;
  background-color: transparent;
}

#askunali-widget .askunali-question-input-area::placeholder {
  font-size: var(--font-size-question-box);
  color: rgba(19, 19, 19, 0.4);
}

#askunali-widget #askunali-answer {
  font-size: 15px;
  line-height: 22px;
  padding-top: 20px;
}

#askunali-widget #askunali-sources,
#askunali-widget #askunali-link,
#askunali-widget #askunali-separator {
  display: none;
}

#askunali-widget #askunali-shopping-cart-description {
  font-size: 15px;
  color: #303840;
  margin-left: 10px;
  margin-right: 5px;
  opacity: 90%;
}

#askunali-widget #askunali-sources {
  align-items: center;
  font-size: var(--font-size-sources);
  opacity: 90%;
  margin: 15px 0px;
}

#askunali-widget .askunali-sources-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(1rem * 1.2);
  height: calc(1rem * 1.2);
  margin-left: 5px;
  border: 1px solid #374151;
  border-radius: 50%;
  color: #374151;
  font-size: 14px;
  opacity: 90%;
  text-decoration: none;
}

#askunali-widget #askunali-link a {
  font-size: var(--font-size-sources);
  color: var(--color-secondary);
  text-decoration: underline;
  opacity: 90%;
}

#askunali-widget #askunali-return-button {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;

  background: #FBFBFF;
  opacity: 90%;

  border: 0.5px solid #D5E1EA;
  border-radius: 4px;
  height: 42px;
  width: 100px;

  margin-top: 20px;

  cursor: pointer;
}

#askunali-widget .askunali-ingredient-link {
  color: #3366CC;
  text-decoration: none;
}

#askunali-widget #askunali-shopping-container {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  margin-top: calc(var(--spacing-base) * 1.5);
}

#askunali-widget #askunali-shopping-links {
  display: flex;
  margin-left: 15px;
}

#askunali-widget .askunali-shopping-container-count {
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FBFBFF;
  border: 0.5px solid #D5E1EA;
  border-radius: 4px;

  height: 40px;
  min-width: 40px;
  padding: 0 15px;

  color: #303840;
  text-decoration: none;
  opacity: 90%;
}

#askunali-widget #askunali-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

@media screen and (max-width: 900px) {
  :root {
    --widget-max-width: 340px;
  }
}
