#askunali-widget {
  color: #303840
}

#askunali-widget .askunali-title {
  font-size: 50px;
  line-height: 50px;
}

#askunali-widget .askunali-subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

#askunali-widget .askunali-question-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border: 1px solid #D0DDE8;
  border-radius: 10px;
  height: auto;
  min-height: 84px;
  background: white;
}

#askunali-widget .askunali-question-icon {
  width:30px;
  height:30px;
  position: absolute;
  margin-left: 20px;
}

#askunali-widget .askunali-question-input-area {
  flex-grow: 1;
  line-height: 40px;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0 20px 0 70px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
  resize: none;
  text-align: left;
  cursor: text;
}

#askunali-widget .askunali-question-input-area::before {
  content: attr(data-placeholder);
  display: block;
  color: rgba(19, 19, 19, 0.4)
}

#askunali-widget .askunali-question-input-area:focus::before {
  content: none;
}

#askunali-widget .askunali-question-input-area.not-empty::before {
  display: none;
}

#askunali-widget .askunali-question-output-container {
  position: relative;
  border: 1px solid #D0DDE8;
  border-radius: 10px;
  min-height: 167px;
  padding: 20px 20px 90px 70px;
  margin-top: 20px;
  font-size: 17px;
  line-height: 25px;
  background: #F9FBFF;
}

#askunali-widget .askunali-answer-placeholder {
  color: rgba(19, 19, 19, 0.4); 
  position: absolute; 
  left: 70px; 
  top: 23px;
  cursor: default;
}

#askunali-widget #askunali-question-output-icon {
  position: absolute;
  top: 20px;
  left: 20px;
}

#askunali-widget #rag-answer {
  text-align: left;
}

#askunali-widget #askunali-sources {
  align-items: center;

  position: absolute;
  bottom: 18px;
  left: 20px;

  font-size: 14px;
}

#askunali-widget #askunali-separator {
  border-top: 1px solid #D0DDE8;
  position: absolute;
  bottom: 60px;
  width: 96%;
  left: 20px;
}

.askunali-sources-count {
  border: 1px solid #004695;
  color: #004695;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  font-size: 14px;
  cursor: pointer;
}

#askunali-widget #askunali-link a {
  text-decoration: underline;
  color: #303840;
  font-size: 14px;

  position: absolute;
  bottom: 10px;
  right: 20px;
}

#askunali-separator,
#askunali-sources,
#askunali-link {
  display: none;
}

#askunali-return-button {
  display: none;
  position: absolute;
  right: 20px;
  border: 1px solid #3C444C;
  border-radius: 20px;
  padding: 5px 20px;
  bottom: 65px;
  cursor: pointer;
}

.askunali-ingredient-link {
  color: #3366CC;
}

#askunali-shopping-container {
  display: none;
  justify-content: left;
  align-items: center;

  height: 35px;
  width: 100%;

  margin-top: 20px;
}

#askunali-widget .askunali-shopping-container-count,
#askunali-widget .askunali-ingredient-link,
#askunali-widget .askunali-sources-count {
  text-decoration: none;
  outline: none;
}

#askunali-widget .askunali-shopping-container-count:focus,
#askunali-widget .askunali-ingredient-link:focus,
#askunali-widget .askunali-sources-count:focus {
  outline: none;
}
