:root {
  --widget-width: 100%;
  --widget-max-width: 900px;
  --spacing-base: 1rem;
  --color-primary: #004695;
  --color-secondary: #303840;
  --color-background: #F9FBFF;
  --color-border: var(--border-color, #D0DDE8);
  --border-radius: var(--border-radius, 4px);
  --font-size-question-box: 16px;
  --font-size-answer-box: 15px;
  --font-size-sources: 14px;
  --question-font-color: var(--question-font-color, inherit);
  --question-background-color: var(--question-background-color, white);
  --answer-font-color: var(--answer-font-color, inherit);
  --answer-background-color: var(--answer-background-color, transparent);
  --suggestion-background-color: var(--suggestion-background-color, #f9fbff);
  --icon-color: var(--icon-color, rgb(48, 56, 64));
}

#askunali-widget.hidden {
  display: none;
}

#askunali-widget #askunali-clear-button-image.hidden {
  display: none;
}

#askunali-widget {
  width: var(--widget-width);
  max-width: var(--widget-max-width);
  color: var(--color-secondary);
}

#askunali-widget .askunali-question-input-container,
#askunali-widget .askunali-question-output-container {
  position: relative;
  background-color: var(--question-background-color);
}

#askunali-widget .askunali-question-input-container {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  cursor: text;
  display: flex;
  align-items: center;
  padding-left: 63px;
  height: 65px;
}

#askunali-widget #askunali-clear-button-container {
  height: 100%;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#askunali-widget .askunali-question-output-container {
  padding: var(--spacing-base) calc(var(--spacing-base) * 1.2);
  min-height: calc(1rem * 6);
  background-color: var(--answer-background-color);
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding-left: 70px;
  padding-top: 30px;
  border: none;
}

.askunali-processing-container {
  display: flex;
  align-items: center;
}

#askunali-processing-text {
  margin-left: 45px;
  margin-top: 10px;
  display: none;
  font-weight: 400;
}


#askunali-widget .askunali-question-output-container-bottom {
  background-color: var(--answer-background-color);
  border: none;
  border-radius: 0;
  position: relative;
  height: auto;
  padding-right: 35px;
  padding-left: 70px;
  padding-top: 0px;
  padding-bottom: 0;
}

#askunali-widget #askunali-question-suggestions-container {
  display: flex;
  justify-content: left;
  gap: 15px;
  flex-wrap: wrap;
}

#askunali-widget .askunali-question-suggestion {
  background: var(--suggestion-background-color);
  border: 1px solid #D5E1EA;
  height: 45px;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  max-width: 80%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

#askunali-widget .askunali-question-suggestion:first-child {
  margin-left: 50px;
}

#askunali-widget .askunali-question-suggestion:hover {
  background-color: #E6E9F2;
  border-color: #C1D0E0;
}

#askunali-widget .askunali-question-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 23px;
  height: 23px;
}

#askunali-widget #askunali-question-output-icon {
  position: absolute;
  top: 50px;
  left: 70px;
  width: 32px;
  height: 32px;
  transform: translateY(-50%);
}

#askunali-widget .askunali-question-input-area {
  width: 100%;
  min-height: calc(1rem * 1.5);
  border: none;
  outline: none;
  resize: none;
  font-size: var(--font-size-question-box);
  line-height: 1.5;
  color: var(--question-font-color);
  background-color: var(--question-background-color);
}

#askunali-widget .askunali-question-input-area::placeholder {
  font-size: var(--font-size-question-box);
  color: rgba(19, 19, 19, 0.4);
}

#askunali-widget #askunali-answer {
  font-size: 15px;
  line-height: 22px;
  padding-top: 20px;
  color: var(--answer-font-color);
  max-width: 680px;
  margin-bottom: 30px;
}

#askunali-widget #askunali-sources,
#askunali-widget #askunali-link,
#askunali-widget #askunali-separator {
  display: none;
}

#askunali-widget #askunali-shopping-cart-description {
  font-size: 15px;
  color: var(--color-secondary);
  margin-left: 10px;
  margin-right: 5px;
  font-weight: 600;
}

#askunali-widget #askunali-sources {
  align-items: center;
  font-size: var(--font-size-sources);
  opacity: 90%;
  margin: 0 0 30px 0;
}

#askunali-widget .askunali-sources-count {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: calc(1rem * 1.2);
  height: calc(1rem * 1.2);
  margin-left: 5px;
  color: #374151;
  font-size: 14px;
  opacity: 90%;
  text-decoration: none;
}

#askunali-widget #askunali-link a {
  font-size: var(--font-size-sources);
  color: var(--color-secondary);
  text-decoration: underline;
  opacity: 90%;
}

#askunali-widget #askunali-return-button {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background: #FBFBFF;
  opacity: 90%;
  border: 0.5px solid #D5E1EA;
  border-radius: var(--border-radius);
  height: 42px;
  width: 100px;
  margin-top: 20px;
  cursor: pointer;
}

#askunali-widget .askunali-ingredient-link {
  color: #3366CC;
  text-decoration: none;
}

#askunali-widget #askunali-shopping-container {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 14px;
}

#askunali-widget #askunali-shopping-cart-separator {
  margin-top: 3px;
}

#askunali-widget #askunali-shopping-subcontainer {
  display: flex;
  align-items: center;
}

#askunali-widget #askunali-shopping-links {
  display: flex;
  margin-left: 15px;
}

#askunali-widget .askunali-shopping-container-count {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #D5E1EA;
  border-radius: var(--border-radius);
  height: 40px;
  min-width: 40px;
  padding: 0 15px;
  color: var(--color-secondary);
  text-decoration: none;
  opacity: 90%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-right: 15px;
}

#askunali-widget .askunali-shopping-container-count:hover {
  background-color: #E6E9F2;
  border-color: #C1D0E0;
}

#askunali-widget #askunali-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-direction: column;
}

#askunali-widget #askunali-sources-placeholder {
  display: none;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#askunali-widget #askunali-sources-placeholder-text {
  display: none;
}

#askunali-widget #askunali-sources-placeholder-icon {
  display: none;
}